<!DOCTYPE html>

<head>
    <title>Book List</title>
    
</head>

<body>
            Book Number : Book Name

            {{#each results}}
           <li> {{Book_Number}} : {{Book_Name}} </li>

            {{/each}}
    
    
    
</body>

</html>
